.container {
  display: flex;
  z-index:10;
  background: linear-gradient(to bottom, #0000006b, #fffafa00);
  align-items: center;
  padding: 0em 1em;
  gap: 1.2em;
  position:fixed;
  width: 100%;
}
nav {
  font-family: "Inter";
  font-size: 1.1em;
  line-height: 0.75em;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content:flex-start;
  width: 45%;
  color: white;
  font-weight: 300;
  padding: 0.75em;
  letter-spacing: 0.1em;
  gap: 3em;
}
.logo {
  margin-right: 2em;
  padding: 1.25em;
  width: 5%;
  height: auto;
}
.login {
  margin-left: 5em;
  font-family: "Inter";
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}
.book{
    margin-left: 2em;
    background-color:#AD8B3A;
    padding: 1em 2.5em;
    font-size: 0.9em;
    border:none;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: white;
    font-family: "Inter";
}
@media(max-width:768px){
  .container{
    width: 100%;
    padding: 0;
  }
}