.container {
  display: flex;
  z-index: 10;
  background: linear-gradient(to bottom, #000000c2, #00000000);
  align-items: center;
  padding: 0em 1em;
  gap: 1.2em;
  position: fixed;
  width: 100%;
  float: inline-end;
}
nav {
  font-family: "Inter";
  font-size: 1em;
  line-height: 0.75em;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-start;
  width: 60%;
  color: white;
  font-weight: 300;
  padding: 0.75em;
  letter-spacing: 0.1em;
  gap: 2em;
  white-space: nowrap;
}
.logo {
  margin-right: 2em;
  width: 10%;
  height: auto;
}
.login {
  margin-left: 5em;
  font-family: "Inter";
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}
.book {
  white-space: nowrap;
  background-color: #ad8b3a;
  padding: 1em 2em;
  font-size: 0.9em;
  border: none;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: white;
  font-family: "Inter";
  float: inline-end;
  margin-left: 3em;
}
.menu_open,
.menu_close {
  display: none;
}
.nav button {
  display: none;
}
.bookmobile{
  display: none;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    gap: 0.75em;
    padding: 0;
    justify-content: space-between;
  }
  .bookmobile {
    display: block;
    white-space: nowrap;
    background-color: #ad8b3a;
    padding: 1em 2em;
    font-size: 0.5em;
    border: none;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: white;
    font-family: "Inter";
    float: inline-end;
  }
  .menu_open,
  .menu_close {
    cursor: pointer;
    z-index: 50;
    display: none;
    margin-right: 0.5em;
  }
  .btnshow {
    display: block;
  }
  nav {
    gap: 0.5em;
    font-size: 1em;
    padding: 0.75em;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: linear-gradient(to bottom, #000000c2, #00000000);
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .show {
    transform: translateY(0);
  }
  nav a {
    margin-top: 1.25rem;
  }
  .logo {
    margin-right: 0;
    width: 20%;
  }
  .book {
    display: none;
  }
  .nav button {
    display: block;
  }
}
